[submodule "gpu/CodeSamples"]
	path = gpu/CodeSamples
	url = https://github.com/xipingyan/CodeSamples.git
[submodule "intel_gpu/levelzero_learn/level-zero"]
	path = intel_gpu/levelzero_learn/level-zero
	url = https://github.com/oneapi-src/level-zero.git
